/target/classes/Book.class
/target/classes/BookDbRepoApp.class
/target/classes/BookRepository.class
/target/classes/BookType.class
/.idea/compiler.xml
/target/classes/CsvBookRepository.class
/target/test-classes/CsvBookRepositoryTest.class
/target/classes/CsvHandler.class
/target/classes/DbBookRepository.class
/target/test-classes/DbBookRepositoryTest.class
/.idea/misc.xml
/target/classes/OpenCsvHandler.class
/target/classes/META-INF/orm.xml
/target/classes/META-INF/persistence.xml
/target/classes/SimpleBookRepository.class
/target/test-classes/SimpleBookRepoTest.class
/.idea/uiDesigner.xml
/.idea/vcs.xml
/.idea/.gitignore
